.intro {
    position: relative;
    margin-top: -100px;

    &__container {
        border-radius: 20px;
        background: #ffffff;
        padding: 20px;
    }

    &__personal-detail {
        background: #f8f8f8;
        border-radius: 20px;
        padding: 16px;
    }

    &__summary {

    }
}